menuconfig AVPU
	bool "AVPU video codec drivers"
	default n
	help
	  Enable AVPU video codec drivers

if AVPU
config AVPU_NO_DMABUF
	depends on AVPU
	int "vpu not use dmabuf"
	default 1
source "drivers/video/avpu/jz_avpu/Kconfig"
endif
