choice
	prompt "Board type"
	depends on PLATFORM_T21_ISVP
	default BOARD_TURKEY

config BOARD_TURKEY
       bool "Turkey"
       depends on PLATFORM_T21_ISVP

endchoice

config BOARD_NAME
	string
	default "Turkey" if BOARD_TURKEY
